body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  box-shadow: 0.5px 0.5px 3px rgb(255, 255, 255);
}

img {
  max-height: 300px;
  min-height: 300px;
}

nav {
  background-color: #222;
}

nav ul {
  margin: 0 0 0px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
}

nav ul li {
  padding: 5px;
}

Link {
  color: white
}

.quote_item {
  padding: 2px 0;
}

.quote_item a {
  text-decoration: none;
  color: white;
}

.quote_item a:hover{
  text-decoration: underline;
}
